@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

$white: #fff;
$green: #1abe84;
$orange: #fb8f1d;
$active: #202336;
$gray: #b8becd;
$red: red;
$footerGray: #f9f9fb; ;
